

blockquote {
  @include rem-fallback(padding-left,$base-font-size);

  border-left-color: $brand-primary;
  border-left-style: solid;
  border-left-width: 3px;

  font-style: italic;
  color: $mid-grey;

  p {
    @include rem-fallback(margin-bottom, $base-font-size);
  }

}

dl {
  dd {
    font-style: italic;
  }
}

.callout {
  @extend blockquote;
  border-left-color: $highlight;

  p {
    @extend .small-text;
    color: $dark-grey;
    font-size: normal;  
  }
  
}

.small-text {
  font-size: 80%;
}

.vcard {
  line-height: $base-line-height;
  border:0;
  margin:0;
  padding:0;
  .org {
    font-weight: bold;
  }
  .locality {
    display: block;
  }
}

label,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select,
button {
  @include rem-fallback(font-size,16); // make sure ios doesn't do that weird zooming thing on forms
  font-family: $font-family;
}
