html {
    font-size: 100%;
}

body {
  font-family: $font-family;
  line-height: $base-line-height-ratio;
  @include rem-fallback(font-size, $base-font-size);
  font-weight: 300;
}

.ncc-section-title {
	font-family: $font-special;
	font-size: 2.8em;
}