table {
  width:100%;
  border: none;

  thead, tfoot, thead tr {
    background-color:$geyser;
  }
  tr.even, tr.alt, tr:nth-child(even) {
    background-color: $ghost-gray;
  }
  
/*
  tr.odd, tr:nth-child(odd) {
    background-color: $whitesmoke;
  }
*/

  th, td {
  	text-align: left;
  	padding: 0.5em;

  	&.align-right {
  		text-align: right;
  	}
    &.number {
      text-align: right;
    }
  }
}
