%site-message{
	background: $ghost-gray;
	border-color: darken($ghost-gray,20%);
	border-width: 1px;
	border-style: solid;
	@include rem-fallback(padding, $base-spacing-unit/2);
}

.site-message--success {
	@extend %site-message;

	background-color: lighten($success,50%);
	border-color: $success;
}

.site-message--fail {
	@extend %site-message;

	background-color: lighten($fail,40%);
	border-color: $fail;
}

.site-message--info {
	@extend %site-message;

	background-color: lighten($highlight,30%);
	border-color: $highlight;
}